root = true

[*]
;end_of_line = lf
insert_final_newline = true

[*.{htm,html,scss}]
indent_style = space
indent_size = 4
charset = utf-8

[*.{js,coffee}]
indent_style = space
indent_size = 4
charset = utf-8

[*.md]
trim_trailing_whitespace = false
