@import "../../palette";

.autocompletion {
    &__container {
        position: relative;
        height: 0;
    }

    &__content {
        position: absolute;
        width: 100%;
        background: tuktuk-color('background');
        border: 1px solid tuktuk-color('secondary');
        border-top: none;
        box-sizing: border-box;
        border-radius: 0 0 8px 8px;
    }

    &__card {
        padding: 0px;
        display: flex;
        border-top: 1px solid tuktuk-color(secondary);
        cursor: pointer;
        height: 100px;

        &:hover {
            background: tuktuk-color(primary);
            color: tuktuk-color(background);
        }
    }

    &__card-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__body {
        padding: 10px;
        display: flex;
        flex-direction: column;
        min-width: 0;
    }

    &__thumb {
        overflow-y: clip;
        width: 146px;
    }

    &--active {
        background: tuktuk-color(primary);
        color: tuktuk-color(background);
    }

    &__card-name {
        font-size: 18px;
        margin-bottom: 8px;
        font-weight: 500;
    }

    &__card-secondary-name {
        color: tuktuk-color('secondary-dark');
        font-size: 18px;
    }

    &__card-text {
        font-size: 15px;
    }
}