@import "../../palette";

.card-row {
    padding: 4px 2px;

    &__name {
        font-weight: 500;
    }
    &__header {
        color: tuktuk-color('foreground');
        text-decoration: none;
    }

    &__set {
        color: tuktuk-color('secondary-dark');
    }

    &__price {
        justify-self: end;
        text-align: right;
        font-weight: 500;
        padding-right: 10px;
    }

    &__stock {
        color: tuktuk-color('secondary-dark');
        font-size: 0.9em;
    }

    &__discount {
        text-decoration: line-through;
    }
}
