@import "../../palette";

.card-layout {
    padding: 4px 2px;

    &__header {
        color: tuktuk-color('foreground');
        text-decoration: none;
    }

    &--dark {
        background: tuktuk-color('secondary');
    }

    &--set {
        color: tuktuk-color('secondary');
    }

    &--price {
        justify-self: end;
        text-align: right;
    }

    &--stock {
        color: tuktuk-color('secondary');
        font-size: 0.9em;
    }

    &__discount {
        text-decoration: line-through;
    }
}
