@import "../../palette";
.row-separator td {
    width: 100%;
    border-bottom: 1px solid tuktuk-color('secondary');
}

.cards-container {
    padding: 10px 0 10px 10px;
    width: 100%;
    & tbody {
        vertical-align: top;
    }
    & tr {
        cursor: pointer;
    }
    & td {
        padding-top: 10px;
    }
}

.empty-container {
    padding-top: 20px;
}
