@import "../../palette";
.error-trap {
    &__text {
        text-align: center;
        margin: 20px 0;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
    &__button {
        width: 200px;
    }
}