@import "../../palette";

.autocompletion {
    &__container {
        position: relative;
        height: 0;
    }

    &__content {
        position: absolute;
        width: 100%;
        background: tuktuk-color('background');
        border: 1px solid tuktuk-color('secondary');
        border-top: none;
        box-sizing: border-box;
        border-radius: 0 0 8px 8px;
    }

    &__card {
        padding: 16px 16px;
        border-top: 1px solid tuktuk-color('secondary');
        cursor: pointer;

        &:hover {
            background: tuktuk-color('primary');
            color: tuktuk-color('foreground');
        }
    }

    &--active {
        background: tuktuk-color('primary');
        color: tuktuk-color('foreground');
    }

    &__card-name {
        font-size: 18px;
        margin-bottom: 8px;
    }

    &__card-secondary-name {
        color: tuktuk-color('secondary');
        font-size: 18px;
    }

    &__card-text {
        font-size: 15px;
    }
}
