@import "../../palette";

.autocompletion {
    &__card {
        padding: 10px 16px;
        border-top: 1px solid tuktuk-color('secondary');
        cursor: pointer;

        &:hover {
            background: tuktuk-color('primary');
            color: tuktuk-color('foreground');
        }
    }

    &--active {
        background: tuktuk-color('primary');
        color: tuktuk-color('foreground');
    }

    &__card-name {
        font-size: 18px;
    }

    &__card-text {
        color: tuktuk-color('secondary');
        font-size: 15px;
    }
}
