.search {
    &-container {
        display: flex;
        font-size: 15pt;
        color: inherit;
        height: 39px;
        border: 1px solid #ccffcc;
        border-radius: 8px;
        box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
        overflow: hidden;
        box-sizing: border-box;
        margin: 0 8px 10px 8px;
    }

    &-panel {
        position: relative;
        display: flex;
        flex: 1;
    }

    &-input {
        flex: 1;
        display: flex;
        width: 100%;
        box-sizing: border-box;
        padding: 7px 0;

        input {
            border: 0;
            font-size: inherit;
            color: inherit;
            padding: 0 0 0 16px;
            outline: none;

            &:focus {
            }
            &:focus + .search-label {
                opacity: 0;
            }
            &:valid + .search-label {
                opacity: 0;
            }
        }
    }

    &-label {
        position: absolute;
        left: 16px;
        transition: 0.2s;
        display: flex;
        flex: 0 0 auto;
    }

    &-button {
        width: 40px;
        background: #ccffcc;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
