@import "../../palette";
.header {
    height: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: tuktuk-color('accent');
    color: tuktuk-color('background');

    &__menu-button {
        position: absolute;
        top: 13px;
        left: 10px;

        @media (min-width: 768px) {
            display: none;
        }
    }

    &__camera-button {
        position: absolute;
        top: 13px;
        right: 10px;
        display: none;
    }
}

.search-layout {
    position: relative;
    min-height: 100%;
    &__backdrop {
        position: absolute;
        background: rgba(0,0,0,0.3);
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        min-height: 100vh;
    }

    &--backdrop-visible {
        pointer-events: auto;
        opacity: 1;
    }

    &__menu {
        position: absolute;
        background: tuktuk-color('background');
        z-index: 1;
        top: 0;
        left: -300px;
        width: 300px;
        bottom: 0;
        overflow-x: hidden;
        transition: left 0.2s ease-in-out;
        min-height: 100vh;
    }

    &--menu-open {
        left: 0;
    }
}
