@import "../../palette";
.update-label-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background: tuktuk-color('primary');

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    overflow-y: hidden;
    max-height: 90px;

    &--hidden {
        max-height: 0;
    }
    &--failed {
        background: tuktuk-color('error');
    }
}

.update-label {
    display: block;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    padding: 10px;
    &__close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        font-size: 20px;
        line-height: 20px;
        width: 20px;
        text-align: center;
    }

    &--ready {
        display: flex;
        align-items: center;
    }

    &__text {
        padding: 0 20px;
    }
}
