@import "../../palette";

.card-details {
    padding: 40px 20px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    justify-items: center;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 1.3em;
    }

    &__set {
        color: tuktuk-color('secondary');
        font-size: 1.2em;
    }

    &__img {
        display: block;
        padding: 10px
    }

    &__content {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    &__prices {
        display: grid;
        grid-row-gap: 10px;
        grid-template-columns: auto 1fr;
        grid-column-gap: 10px;
    }
}

.card {
    &__stock {
        font-size: 0.9em;
        color: tuktuk-color('secondary');
    }

    &__price {
        text-align: left;
    }
}
