@import "../../palette";

.card-layout {
    padding: 4px 2px;
    display: grid;
    grid-template-columns: auto auto 1.5fr 0.5fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-auto-rows: minmax(30px, auto);
    align-items: center;
    justify-items: end;
    &--dark {
        background: tuktuk-color('secondary');
    }
}
