@import "../../palette";
.header {
    padding: 10px 16px;
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    background: tuktuk-color('accent');
    color: tuktuk-color('background');
}
