@import "../../palette";
.header {
    height: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: tuktuk-color('accent');
    color: tuktuk-color('background');

    &__menu-button {
        position: absolute;
        top: 13px;
        left: 10px;
        display: none;
    }

    &__camera-button {
        position: absolute;
        top: 13px;
        right: 10px;
        display: none;
    }
}
