@import "palette";
html,
body,
#root,
.main-container {
    height: 100%;
}
body {
    margin: 0;
    background-color: tuktuk-color('background');
    color: tuktuk-color('foreground');
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.main-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    margin: auto;
    max-width: 700px;
}

.content-container {
    margin: 0 0 20px 10px;
}

.loading-container,
.empty-container,
.start-search-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.loading,
.empty,
.start-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-big {
    font-size: 50px;
}

.icon-rotating {
    display: block;
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
