@import "../../palette";
.button {
    &__container {

    }
    &__button {
        &:active {
            filter: brightness(85%);
        }
        cursor: pointer;
        outline: none;
        background: tuktuk-color('accent');
        color: tuktuk-color('background');
        padding: 10px;
        border-radius: 8px;
        border: 1px solid tuktuk-color('accent');
        box-shadow: 0 1px 6px tuktuk-color('');
        font-weight: bold;
        text-align: center;
        font-size: 15px;
    }
}
